ul {
  display: flex;
  justify-content: center;
  position: fixed;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #172A3A;
  width: 100%;
}

.active {
  background-color: #09BC8A;
}


li {
  display: list-item;  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #004346;
}

body {
  background-color: #1A2238;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#td_hdd_ssd {
  text-align: center;
}
#header {
  text-align: center;
  font-size: 35;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}

#header1 {
  text-align: center;
  font-size: 35;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
#subtitle {
  text-align: left;
  font-size: 30;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
#text {
  text-align: left;
  font-size: 20;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 18px;
  margin-right: 18px;
}

#img_ssd_hdd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#table_ssd_hdd {
  text-align: center;
  width: 100%;
}

#table_ssd_hdd_comparison {
  text-align: center;
  width: 100%;
  border-style: solid;
  border-width: medium;
  border-radius: 6px;
  border-color: #004346;
}

#td_hdd_ssd_comparison {
  text-align: center;
  border-style: solid;
  border-width: medium;
  border-color: #09BC8A;
  font-size: 18;
}

p.Ivan {
  font-size: 16px;
  line-height: 1.5;
  color: "white";
  margin: 10px 0;
  font-family: Courier;
}
#table {
  WIDTH:"50%" ;
  BORDER:"0" ;
  align:"center"; 
  cellspacing:"10";
}
#img {
  WIDTH:250px; 
 height:250px;
}
#table_ssd_hdd_comparison_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  text-align: center;
  vertical-align: middle;
}
#table_Ivan {
  text-align: center;
  width: 85%;
  border-style: solid;
  border-width: medium;
  border-radius: 6px;
  margin:auto;
  border-color: #004346;
  }
#home_container {
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 10% 30%;
  text-align: center;
}
.welcome-text {
		width: 100%;
		height: auto;
	}
.welcome-text a {
	border: 1px solid #09BC8A;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #09BC8A;
	color: #fff;
}
.welcome-text h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}
.welcome-text h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}
.welcome-text h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
}
